@mixin page-card {
  background: var(--eerie-black-2);
  border-radius: 20px;
  border: 1px solid var(--jet);
  box-shadow: var(--shadow-5);
  padding:35px;
}

@mixin interactive-button {

  --background: transparent;
  --background-hover: transparent;
  --background-focused: transparent;
  --background-activated: transparent;
  --ripple-color: transparent;
  --box-shadow: none;
  --color: var(--white-1);

  position: relative;
  border-radius: 10px;
  transition:
    transform .25s ease,
    box-shadow .25s ease,
    background .25s ease;
  
  &:is(:hover, :active, .ion-activated) {
    transform: scale(1.08);
    box-shadow: 0 0 20px var(--smoky-black);
  }

}