
@use '../../../theme/mixins.scss' as *; 

ion-header {
  border-bottom: 1px solid var(--jet);
}

ion-toolbar {
  position: relative;
}

.close-button {
  @include interactive-button;

  --padding-start: 0;
  --padding-end: 0;

  width: 44px;
  height: 44px;

  &:is(:hover, :active, .ion-activated) {
    background: radial-gradient(
      circle at bottom,
      var(--onyx) 10%,
      var(--eerie-black-2) 70%
    );

    ion-icon {
      transform: rotate(90deg);
    }
  }

  ion-icon {
    font-size: 22px;
    transition: transform .25s ease;
  }

}

.project-card{
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 0 0 20px 20px;
  box-shadow: var(--shadow-5);
  padding:35px;
  display:flex;
  flex-direction:column;
  gap:32px;
}

.header-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.project-title {
  margin: 0;
  color: var(--white-2);
  font-size: var(--fs-2);
  font-weight: var(--fw-500);
}

.project-period {
  margin-top: 4px;
  color: var(--light-gray-70);
  font-size: var(--fs-8);
}

.project-top{
    display:flex;
    flex-direction:column;
    gap:24px;
}

.project-sidebar{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.project-sidebar h3{
    color:var(--white-2);
}

.technology-list{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.technology-chip{
    background:var(--onyx);
    color:var(--white-1);
    padding:5px 14px;
    border-radius:8px;
    font-size:var(--fs-6);
    font-weight:var(--fw-300);
}

.project-description{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.project-description h3{
    color:var(--white-2);
}

.project-description p{
    color:var(--light-gray);
    line-height:1.8;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 16px;

  ion-button {
    flex: none;
    width: 120px;
    height: 52px;
  }
}

.link-button {
  @include interactive-button;
  min-width: 140px;
  height: 52px;
  outline: 2px solid var(--bg-gradient-jet);
  overflow: hidden;
  isolation: isolate;

  ion-icon {
    font-size: 20px;
    margin-right: 8px;
    transition: transform .3s;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--border-gradient-onyx);
    border-radius: inherit;
    z-index: -2;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
      circle at bottom,
      var(--onyx) 10%,
      var(--eerie-black-2) 70%
    );
    opacity: 0;
    transition: opacity .3s;
    z-index: -1;
  }

  &:is(:hover, :active, .ion-activated) {
    outline: none;

    &::after { opacity: 1; }

    ion-icon { transform: translateX(-3px); }

  }

}

@media (min-width:992px){

  .project-top{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:35px;
    align-items:start;
  }

  .project-links ion-button { width: 160px; }

}